{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}
{% block content %}


<!--Contenido -->
<div class="contenido-historia">

    <!-- Contenedor para la imagen -->
    <div class="image-container mb-5 nosotros">
        <img class="img-fluid rounded about-heading-img" src="{% static 'core/img/nosotros.jpg' %}" alt="Nosotros">
    </div>

      <!-- Historia -->
    <div class="historia">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Fundada en 2023 consectetur adipiscing elit. Donec leo dui, vehicula
                    vel dapibus ac, tempus non enim. Nunc tempor vel lacus vel gravida.
                    Nam sit amet pellentesque mi. </p>
                <p>Curabitur efficitur pellentesque tellus nec volutpat. In viverra
                    mattis sem, facilisis condimentum mi rutrum ut. Quisque ut
                    pellentesque dui.Nullam eu vehicula metus. Pellentesque id interdum
                    elit. Aenean in efficitur enim.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}	